html, body
{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body
{
	background-image: url('../images/background.jpeg');
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.content
{
	margin: 50px 0;
	background-color: rgba(30, 30, 30, 0.8);
	color: #fff;
	border-radius: 25px;
	height: 50%;
	min-height: 50%;
}

#search
{
	margin: 20px 0;
}

.media-body
{
	color: white;
}

li[data-target="#myModal"]:hover
{
	background-color: rgba(92, 95, 160, 0.5);
}

li[data-target="#myModal"]:visited
{
	background-color: rgba(92, 95, 160, 0.5);
}

li[data-target="#myModal"]:active
{
	background-color: rgba(92, 95, 160, 0.5);
}

.list-group-item
{
	background-color: rgba(0, 0, 0, 0);
	border-right: none;
	border-left: none;
	border-bottom: none;
}

.modal-content
{
	background-color: rgba(30, 30, 30, 0.95);
	color: white;
}

.btn-default
{
	background-color: rgba(92, 95, 160, 0.5);
	color: white;
	border: none;
}

.btn-default:hover
{
	background-color: rgba(92, 95, 160, 0.5);
	color: white;
	border: none;
}

.modal-header
{
	text-align: center;
	border-bottom: 1px solid rgba(150, 150, 150, 0.5);
}

.modal-footer
{
	border-top: 1px solid rgba(150, 150, 150, 0.5);
}

.moreInfo
{
	display: block;
	font-size: smaller;
	line-height: 80%;

    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;	
}

#slider
{
	left: 0;
	width: 550px;
	height: 250px;
	min-height: 250px;
	max-height: 250px;
	margin: 50px auto;
}

#slider img
{
	max-width: 200px;
}