html, body
{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body
{
	background-image: url('../images/background.jpeg');
    background-attachment: fixed;
    background-size: cover;
}

.content
{
	margin: 50px 0;
	background-color: rgba(30, 30, 30, 0.8);
	color: #fff;
	border-radius: 25px;
	height: 50%;
	min-height: 50%;
}

#search
{
	margin: 20px 0;
}

.media-body
{
	color: white;
}

a[href="#myModal"]:hover
{
	background-color: rgba(92, 95, 160, 0.5);
}

a[href="#myModal"]:visited
{
	background-color: rgba(92, 95, 160, 0.5);
}

.list-group-item
{
	background-color: rgba(0, 0, 0, 0);
	border-right: none;
	border-left: none;
	border-bottom: none;
}